<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="WebAii.Settings" type="ArtOfTest.WebAii.Core.SettingsConfigSectionHandler,ArtOfTest.WebAii" />
  </configSections>
  <WebAii.Settings executionDelay="0" annotateExecution="true" annotationMode="All" elementWaitTimeout="15000"/>
  <appSettings>
    <add key="baseUrl" value="http://localhost:3000" />
    <add key="defaultBrowser" value="FireFox"/>
  </appSettings>
</configuration>