<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="WebAii.Settings" type="ArtOfTest.WebAii.Core.SettingsConfigSectionHandler,ArtOfTest.WebAii" />
	</configSections>
  <appSettings>
    <add key="baseUrl" value="http://localhost:3000" />
    <add key="defaultBrowser" value="FireFox"/>
		<add key="executionDelay" value="0"/>
		<add key="annotateExecution" value="false"/>
		<add key="annotationMode" value="All"/>
		<add key="elementWaitTimeout" value="15000"/>
  </appSettings>
</configuration>